@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.alerta {
    padding: 1rem 1rem 1rem 2rem;
    text-transform: uppercase;
    font-weight: 900;
    margin: 1rem 0;
    font-size: 1.4rem;
    max-width: 80rem;
    z-index: 1;
    position: relative;
    

    &.error {
        background-color: color.scale(v.$rojo, $lightness: 80%);
        border-left: .5rem solid v.$rojo;
        color: v.$rojo;
    }
    &.exito {
        background-color: color.scale(v.$verde, $lightness: 80%);
        border-left: .5rem solid v.$verde;
        color: v.$verde;
    }

    &.animacion-exito {
        @include m.animacionAlerta(v.$verde)
    }

    &.animacion-error {
        @include m.animacionAlerta(v.$rojo)
    }
}