.swal-grande {
    font-size: 1.4rem !important; /* Agranda el contenido */
    border-radius: .5rem;
}

/* Botones más grandes */
.btn-grande {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    font-weight: 700;
    border-radius: .5rem !important;
}