@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

@media(prefers-color-scheme: dark) {
    $grisOscuro: #2c2c3b;
    body {
        background-color: $grisOscuro;
    }

    .tagline,
    .formulario label,
    .login .acciones a,
    .crear .acciones a,
    .olvide .acciones a {
        color: v.$blanco;
    }

    .descripcion-pagina,
    .formulario .campo input,
    .nombre-pagina {
        color: color.scale(v.$grisClaro, $lightness: -10%);
    }

    .formulario .campo input {
        background-color: color.scale($grisOscuro, $lightness: 15%);
    }

    .alerta.error {
        background-color: v.$blanco;
    }

    .barra-mobile {
        background-color: color.scale($grisOscuro, $lightness: -20%);
    }

    .dashboard {
        background-color: $grisOscuro;

        .enlace {
            color: v.$grisClaro;
            &:hover {
                color: color.scale(v.$grisClaro, $lightness: -15%);
            }
        }
    }

    .listado-proyectos .proyecto {
        background-color: color.scale($grisOscuro, $lightness: 20%);
    }
    .listado-proyectos .proyecto::before {
        background-color: color.scale($grisOscuro, $lightness: 15%);
    }
}