@use 'base/variables' as v;
@use 'sass:color';

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $colorTexto;
    font-size: 1.6rem;
    display: inline-block;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    display: block;
    width: 100%;
    @include tablet {
        width: auto;
    }
    &:hover {
        background-color: color.scale($bgColor, $lightness: -20%);
        cursor: pointer;
    }
    &.disabled {
        background-color: color.scale($bgColor, $lightness: 40%);
        cursor: pointer;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin textoDegradado($color) {
        background: linear-gradient(to right, $color 0%, color.scale($color, $lightness: 60%) 100%);
        color: transparent;
        background-clip: text;
        text-align: center;
        font-size: 7rem;

        @include tablet {
            font-size: 10rem;
        }
}

@mixin animacionAlerta($color) {
    &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: color.scale($color, $lightness: 60%);
        animation: barra 2s ease-in .5s forwards;
        z-index: -1;
    }
    @keyframes barra {
        from { width: 0; }
        to { width: 100%; }
    }
}