@use 'base/mixins' as m;
@use 'base/variables' as v;

.barra-mobile {
    display: flex;
    background-color: v.$indigo;
    color: v.$blanco;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;

    h1 {
        margin: 0;
    }

    .menu {
        img {
            width: .8rem;

            &:hover {
                cursor: pointer;
            }
        }
    }


    @include m.tablet {
        display: none;
    }
}

.barra {
    display: none;

    @include m.tablet {
        background-color: v.$blanco;
        padding: 1rem 2rem;
        box-shadow: 2px 3px 15px rgb(0, 0, 0, .1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        margin: 0;

        span {
            color: v.$indigo;
            font-weight: 600
        }
    }

    .cerrar-sesion {
        @include m.boton(v.$indigo, v.$blanco);
        font-size: 1.4rem;
        padding: 1rem 2rem;
        border-radius: .5rem;
    }
}