@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard {
    background-color: v.$grisClaro;

    @include m.tablet {
        display: flex;
        height: 100vh;
    }

    .principal {
        flex: 1;
    }

    .contenido {
        margin: 2rem;

        .nombre-pagina {
            font-size: 3.5rem;
            text-align: center;
        }
    }
}