@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard {
    background-color: v.$grisClaro;

    @include m.tablet {
        display: flex;
        height: 100vh;
    }

    .principal {
        flex: 1;
    }

    .contenido {
        margin: 2rem;
        text-align: center;

        .nombre-pagina {
            font-size: 3.5rem;
            text-align: center;
        }

        .crear-proyecto {
            @include m.boton(v.$indigo, v.$blanco);
            display: inline;
            padding: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.4rem;
        }
    }

    .formulario {
        input:not([type="submit"]) {
            background-color: v.$blanco;
        }
        input[type="submit"] {
            @include m.boton(v.$indigo, v.$blanco);
            padding: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.4rem;

        }
    }
}