@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.dashboard {
    background-color: v.$grisClaro;

    @include m.tablet {
        display: flex;
        height: 100vh;
    }

    .principal {
        flex: 1;
        overflow: scroll;
    }

    .contenido {
        margin: 2rem;

        .nombre-pagina {
            font-size: 3.5rem;
            text-align: center;
        }
    }

            .title-link {
            position: relative;
            color: v.$blanco;

            &::before {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: v.$blanco;
                transition: width 0.3s ease;
            }
            &:hover::before,
            &.activo::before {
                width: 100%;
            }
        }

    .formulario {
        input:not([type="submit"]) {
            background-color: v.$blanco;
        }
        input[type="submit"] {
            @include m.boton(v.$indigo, v.$blanco);
            padding: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.4rem;

        }
    }

    .enlace {
        color: v.$indigo;
        &:hover {
            color: color.scale(v.$indigo, $lightness: -40%);  
        }
    }
}