@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    inset: 0;

    .formulario {
        background-color: v.$blanco;
        color: v.$negro;
        max-width: 60rem;
        padding: 2rem;
        margin: 0 auto;
        position: relative;
        top: -20rem;
        opacity: 0;
        transition: all .3s ease-in;
        border-radius: 1rem;

        &.active {
            top: 40%;
            opacity: 1;
        }
        &.cerrar {
            top: -20rem;
            opacity: 0;
        }

        legend {
            font-weight: 500;
            font-size: 2.2rem;
            padding-bottom: 1.8rem;
            text-align: center;
            display: block;
        }



        .campo {
            width: 100%;
            padding: 1rem 0;

            .tarea {
                background-color: color.scale(v.$blanco, $lightness: -15%);
                border-radius: .5rem;
            }

            .tarea-label {
                max-width: 15%;
                font-size: 1.8rem;
            }
            
        }

        .opciones {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .submit-nueva-tarea {
                @include m.boton(v.$indigo, v.$blanco);
            }

            .cerrar-modal {
                @include m.boton(color.scale(v.$naranja, $lightness: -10%), v.$blanco);
            }
        }
    }
}