@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.no-proyectos {
    text-align: center;
}

.crear-proyecto-boton {
    display: flex;
    justify-content: center;
    
    .crear-proyecto {
        @include m.boton(v.$indigo, v.$blanco);
        padding: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.4rem;
        display: inline-block;
    }
}

.listado-proyectos {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    @include m.grid(1, 2rem);

    @include m.tablet {
        @include m.grid(2, 2rem);
    }

    @include m.desktop {
        @include m.grid(3, 2rem);
    }

    .proyecto {
        background-color: color.scale(v.$indigo, $lightness: 5%);
        min-height: 12rem;
        display: flex;
        align-items: center;
        padding: 2rem;
        line-height: 2;
        transition: background-color .3s ease-out;
        position: relative;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 0;
            background-color: color.scale(v.$indigo, $lightness: -10%);
            transition: height 0.3s ease-in;
            z-index: -1;
        }

        &:hover::before {
            height: 100%;
            z-index: -1;
        }

        a {
            color: v.$blanco;
        }
    }
}