@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';



.sidebar {
    background-color: v.$indigo;
    opacity: 0;
    height: 0;
    transition: opacity .3s ease-out;
    overflow: hidden;
    display: block;
    
    
    &.mostrar {
        opacity: 1;
        padding: 2rem;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: 2;
        background-color: rgba($color: #000000, $alpha: .90);
        @include m.tablet {
            display: none;
        }
    }
    &.ocultar {
        opacity: 0;
    }
    @include m.tablet {
        padding: 2rem;
        display: block;
        opacity: 1;
        height: 100%;
        width: 28rem;
        background-color: v.$indigo;
    }

    .contenedor-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            color: v.$blanco;
            margin: 0;
            text-align: center;
        }
        .cerrar-menu {
            width: 2rem;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .sidebar-nav {
        margin-top: 5rem;
        
        a {
            position: relative;
            color: v.$blanco;
            display: block;
            margin-bottom: 1.5rem;
            padding: 0.7rem 0.7rem 0.7rem 1.5rem;
            font-size: 1.6rem;
            text-transform: uppercase;

            &:hover,
            &.activo {
              background-color: color.scale(v.$indigo, $lightness: -20%);
              transition: background-color .3s ease;
            }

            &::before {
                 content: "";
                 position: absolute;
                 left: 0;
                 bottom: 0;
                 width: 0;
                 height: 100%;
                 background-color: v.$blanco;
                 transition: width 0.3s ease;
            }

            &::after {
                 content: "";
                 position: absolute;
                 bottom: -2px;
                 left: 0;
                 width: 0;
                 height: 2px;
                 background-color: v.$blanco;
                 transition: width 0.3s ease;
            }

            &:hover::before,
            &.activo::before {
              width: .7rem;
            }

            &:hover::after,
            &.activo::after {
              width: 100%;
            }
        }
    }
}