@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.contenedor-nueva-tarea {
    display: flex;
    justify-content: center;


    .agregar-tarea {
        @include m.boton(v.$cyan, v.$blanco);
    }
}

.listado-tareas {
    list-style: none;
    padding: 0;
    margin-top: 3rem;

    .no-tareas {
        text-align: center;
    }
}

.tarea {
    padding: .5rem 2rem;
    border-bottom: 2px solid color.scale(v.$grisClaro, $lightness: -10%);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:last-of-type {
        border: none;
    }

    p {
        font-size: 1.8rem;
    }

    .opciones {
        display: flex;
        gap: 1rem;

        button {
            border: none;
            font-size: 1.2rem;
            padding: .5rem 1rem;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 1rem;
            color: v.$blanco;
            transition: background-color .2s ease-in;

            &:hover {
                cursor: pointer;
            }
        }
        .completa {
            background-color: v.$azul;
            &:hover {
                background-color: color.scale(v.$azul, $lightness: -20%);
            }
        }
        .pendiente {
            background-color: v.$naranja;
            &:hover {
                background-color: color.scale(v.$naranja, $lightness: -20%);
            }
        }
        .eliminar-tarea {
            background-color: v.$rojo;
            &:hover {
                background-color: color.scale(v.$rojo, $lightness: 15%);
            }
        }
    }
}